/* Styles for Angular Todo List App */

/* Materialize removes bullets for li tags. This will put it back in */
ul li {
  list-style-type: disc;
}

.done-false {
  font-size: 1.0rem;
  color: #000000;
}

.done-true {
  font-size: 1.0rem;
  text-decoration: line-through;
  color: gray;
}